{% extends 'blog/base.html' %}

{% block content %}
    <div>
        <h3>Welcome to our Blog App!</h3>
    </div>
    <div style="letter-spacing: 1px;">
        <p>My name is Jaydeep Radadiya. I am final year computer engineering student at Gandhinagar Institute of Technology. As a budding software engineer i'm interested in software development and cloud computing. I'm prize winner of <b>Google Cloud</b> Computing Foundations Program. Skilled in Java, Python, Data Structures and Algorithms.</p>
        <a class="button button1" href="https://github.com/jaydeep-radadiya" role="button">GitHub</a>
        <a class="button button1" href="https://in.linkedin.com/in/jaydeepradadiya">LinkedIn</a>
    </div>
{% endblock content %}